<h1>Register</h1>
<form action="/user/register" method="post">
    <input type="hidden" name="action" value="register">
    <div>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div><input type="email" name="email" placeholder="Email"></div>
    <div><input type="password" name="password" placeholder="Password"></div>
    <div><input type="submit" value="Register"></div>
</form>